.content-slider {
  margin-top: 6rem;
  .slider-slick-wrapper {
    .slider-slick-img {
      width: 1140px;
      height: 720px;
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
      li {
        margin-top: 1rem;
        margin-right: 1rem;
        button {
          background: none;
          border-radius: 50%;
          border-color: $redMain;
          outline: none;
          font-size: 0;
          width: 20px;
          height: 20px;
        }
        button:hover {
          border-color: $redDarkMain;
          outline: none;
        }
        button:before {
          content: '';
        }
        button:after {
          content: '';
        }
      }
      .slick-active {
        button {
          background-color: $redMain;
        }
      }
    }
  }
}

.upcoming-events {
  .link-title-block {
    outline: none;
    text-decoration: none;
    color: $black;
    .title-block {
      font-family: $montserrat;
      font-weight: $boldWeight;
      font-size: 35px;
      color: $black;
      text-align: center;
      margin-top: 1rem;
    }
  }
  .link-title-block:hover {
    color: lightgrey;
    transition: 0.5s ease-in;
  }
  .card {
    .card-body {
      .card-title {
        font-family: $montserrat;
        font-weight: $semiBoldWeight;
        margin-top: 1rem;
      }
      .card-text {
        font-family: $montserrat;
        font-weight: $regularWeight;
      }

      p {
        font-family: $montserrat;
        font-weight: $regularWeight;
      }
    }
    .card-footer {
      .btn {
        width: 100%;
        font-family: $montserrat;
        font-weight: $boldWeight;
        color: $white;
      }
      .btn-red {
        background-color: $redMain;
      }
      .btn-red:hover {
        background-color: $redDarkMain;
        transition: 0.5s ease-in;
      }
    }
  }
}

.members-events {
  background-color: $redMain;
  margin-top: 2rem;
  .users-count-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    .icon-users {
      text-align: center;
      font-size: 50px;
      color: $white;
    }
    .members-count {
      font-family: $montserrat;
      font-weight: $boldWeight;
      font-size: 35px;
      text-align: center;
      color: $white;
    }
  }
  .members-count-text {
    display: block;
    width: 100%;
    font-family: $montserrat;
    font-weight: $lightWeight;
    font-size: 20px;
    text-align: center;
    color: $redDarkMain;
    margin-bottom: 2rem;
  }

}