//header

h1 {
  font-family: $montserrat;
  font-weight: $boldWeight;
  font-size: 25px;
}

.main-navigation {
  background-color: #f54337;
  .page_item {
    a {
      font-size: 16px;
      font-family: $montserrat;
      font-weight: $lightWeight;
    }
  }
}