//header

.main-red-menu {
  background-color: $redMain;
  position: fixed;
  z-index: 9999;
  min-height: 4rem;
  @media screen and (max-width: 991px)
  {
    min-height: unset;
  }
  .menu-menu-1-container {
    min-height: 4rem;
    display: flex;
    align-items: center;
    .menu {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      align-items: center;
      margin-left: 0;
      margin-bottom: 0;
      .menu-item {
        .home-link {
          font-family: $montserrat;
          font-weight: $boldWeight;
          font-size: 30px;
          color: $white;
          text-transform: uppercase;
        }
        a {
          color: $redDarkMain;
          font-size: 16px;
          font-family: $montserrat;
          font-weight: $regularWeight;
          padding: 1rem;
          text-decoration: none;
          @media (min-width: 1200px) and (max-width:1337px)
          {
            font-size: 15px;
            padding: 0.5rem;
          }
          @media (min-width: 960px) and (max-width: 1199px)
          {
            display: block;
            width: 100%;
            text-align: center;
          }
        }
        a:hover {
          transition: 0.2s ease-in;
          color: $white;
        }
      }
      .menu-item-object-page {
        @media screen and (max-width: 991px)
        {
          display: none;
        }
      }
      .current_page_item {
        a {
          color: $white !important;
        }
        a:hover {
          color: $white;
        }
      }
    }
  }
  #searchformheader {
    display: flex;
    align-items: center;
    width: 303px;
    .searchSubmitHeader {
      display: none;
    }
    .searchTypeHeader {
      width: 100%;
      font-family: $montserrat;
      font-weight: $regularWeight;
      color: $black;
      border-radius: 5px;
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      font-family: $montserrat;
      font-weight: $regularWeight;
      color: $black;
      opacity: 0.5;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      font-family: $montserrat;
      font-weight: $regularWeight;
      color: $black;
      opacity: 0.5;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      font-family: $montserrat;
      font-weight: $regularWeight;
      color: $black;
      opacity: 0.5;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-family: $montserrat;
      font-weight: $regularWeight;
      color: $black;
      opacity: 0.5;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      font-family: $montserrat;
      font-weight: $regularWeight;
      color: $black;
      opacity: 0.5;
    }
    ::placeholder { /* Most modern browsers support this now. */
      font-family: $montserrat;
      font-weight: $regularWeight;
      color: $black;
      opacity: 0.5;
    }
    :focus::placeholder {
      transition: 0.7s ease-in;
      opacity: 0;
    }
  }
  .login-in {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    .login-in-link {
      outline: none;
      text-decoration: none;
    }
    .registration-link {
      width: 100%;
      font-family: $montserrat;
      font-weight: $regularWeight;
      font-size: 16px;
      text-transform: uppercase;
      border: 1px solid $white;
      @media screen and (max-width: 991px)
      {
        display: none;
      }
      .icon-login {
        color: $white;
        font-size: 18px;
      }
      .icon-login:hover {
        transition: 0.2s ease-in;
        color: $redMain;
      }
    }
    .registration-link-mobile {
      @media screen and (max-width: 991px)
      {

      }
    }
    .registration-link:hover {
      transition: 0.2s ease-in;
      background-color: $white;
      color: $redMain;
      .icon-login {
        transition: 0.2s ease-in;
        color: $redMain;
      }
    }
    .login-in-link {
      color: $white;
      font-size: 18px;
    }
  }
  .user-profile {
    font-family: $montserrat;
    font-weight: $boldWeight;
    font-size: 16px;
    display: flex;
    justify-content: end;

    .nav-link {
      color: $white;
      .user-pic {
        width: 30px;
        height: 30px;
        margin-right: 0.3rem;
      }
    }
  }
}