//single-post-aid

.single-post-aid {

  margin-top: 6rem;

  .post-title {
    font-family: $montserrat;
    font-weight: $boldWeight;
  }
  .author-post {
    font-family: $montserrat;
    font-weight: $regularWeight;
    margin-bottom: 0;
  }
  .date-time-post {
    font-family: $montserrat;
    font-weight: $lightWeight;
    margin-bottom: 0;
    font-style: italic;
  }

  .content-col {
    h2 {
      margin-bottom: 2rem;
      font-family: $montserrat;
      font-weight: $semiBoldWeight;
    }
    strong {
      font-family: $montserrat;
      font-weight: $semiBoldWeight;
    }
    p {
      font-family: $montserrat;
      font-weight: $regularWeight;
    }
    li {
      font-family: $montserrat;
      font-weight: $regularWeight;
      font-style: italic;
    }
    .wp-block-image {
      img {
        border-radius: .25rem !important;
      }
      figcaption {
        font-family: $montserrat;
        font-weight: $regularWeight;
        font-style: italic;
      }
    }
  }
}