//territory-scheme

.territory-scheme {
  margin-top: 6rem;

  .wp-block-image {
    text-align: center;

    figcaption {

      font-family: $montserrat;
      font-weight: $regularWeight;
      font-style: italic;
      font-size: 16px;
      color: $black;

    }
  }
}