//user-login

.user-login {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  .modal-dialog {
    .modal-content {
      .modal-header {
        .registration-link {
          cursor: pointer;
        }
        .registration-link:hover {
          text-decoration: underline
        }
        .login-link {
          cursor: pointer;
        }
        .registration-link:hover {
          text-decoration: underline;
        }
      }
      .modal-body {
        .login-username {
          display: flex;
          flex-wrap: wrap;
          label {
            width: 100%;
            font-family: $montserrat;
            font-weight: $regularWeight;
            font-size: 16px;
          }
          .input {
            width: 100%;
            border-radius: 10px;
            padding-left: 10px;
          }
          .input:focus {
            border-color: rgba(245, 67, 55, 0.9);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(245, 67, 55, 0.6);
            outline: 0 none;
          }
        }
        .login-password {
          display:flex;
          flex-wrap: wrap;
          label {
            width: 100%;
            font-family: $montserrat;
            font-weight: $regularWeight;
            font-size: 16px;
          }
          .input {
            width: 100%;
            border-radius: 10px;
            padding-left: 10px;
          }
          .input:focus {
            border-color: rgba(245, 67, 55, 0.9);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(245, 67, 55, 0.6);
            outline: 0 none;
          }
        }
        .login-remember {
          label {
            font-family: $montserrat;
            font-weight: $lightWeight;
            font-size: 16px;
            font-style: italic;
          }
        }
        .login-submit {
          .button {
            font-family: $montserrat;
            font-weight: $boldWeight;
            font-size: 18px;
            width: 100%;
            background-color: $redMain;
            color: $white;
            border-radius: 10px;
          }
          .button:hover {
            transition: 0.2s;
            background-color: $redDarkMain;
          }
        }
        .registration-username {
          display: flex;
          flex-wrap: wrap;
          label {
            width: 100%;
            font-family: $montserrat;
            font-weight: $regularWeight;
            font-size: 16px;
          }
          .input {
            width: 100%;
            border-radius: 10px;
            padding-left: 10px;
          }
        }
        .registration-email {
          display: flex;
          flex-wrap: wrap;
          label {
            width: 100%;
            font-family: $montserrat;
            font-weight: $regularWeight;
            font-size: 16px;
          }
          .input {
            width: 100%;
            border-radius: 10px;
            padding-left: 10px;
          }
        }
      }
    }
  }

  .icon-left-circle {
    color: $secondary;
    cursor: pointer;
    font-size: 25px;
  }
  .icon-left-circle:hover {
    color: $dark;
    transition: 0.1s ease-in;
  }
}

.post, .page {
  margin-bottom: 0;
}