@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Light.woff2') format('woff2'), url('../assets/fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'), url('../assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'), url('../assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'), url('../assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 25px;
}
.main-red-menu {
  background-color: #f54337;
}
.main-red-menu .main-navigation {
  min-height: 4rem;
}
.main-red-menu .main-navigation ul .current_page_item a {
  color: #fff !important;
}
.main-red-menu .main-navigation ul .current_page_item a:hover {
  color: #fff;
}
.main-red-menu .main-navigation ul .page_item a {
  color: #a51309;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: normal;
  padding: 1rem;
  text-decoration: none;
}
.main-red-menu .main-navigation ul .page_item a:hover {
  transition: 0.2s ease-in;
  color: #fff;
}
.content-slider {
  margin-top: 2rem;
}
.content-slider .slider-slick-wrapper .slider-slick-img {
  width: 1140px;
  height: 720px;
}
.content-slider .slider-slick-wrapper .slick-dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.content-slider .slider-slick-wrapper .slick-dots li {
  margin-top: 1rem;
  margin-right: 1rem;
}
.content-slider .slider-slick-wrapper .slick-dots li button {
  background: none;
  border-radius: 50%;
  border-color: #f54337;
  outline: none;
  font-size: 0;
  width: 20px;
  height: 20px;
}
.content-slider .slider-slick-wrapper .slick-dots li button:hover {
  border-color: #a51309;
  outline: none;
}
.content-slider .slider-slick-wrapper .slick-dots li button:before {
  content: '';
}
.content-slider .slider-slick-wrapper .slick-dots li button:after {
  content: '';
}
.content-slider .slider-slick-wrapper .slick-dots .slick-active button {
  background-color: #f54337;
}
.upcoming-events .title-block {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 35px;
  color: #000;
  text-align: center;
  margin-top: 1rem;
}
.upcoming-events .card .card-body .card-title {
  font-family: 'Montserrat';
  font-weight: 600;
  margin-top: 1rem;
}
.upcoming-events .card .card-body .card-text {
  font-family: 'Montserrat';
  font-weight: normal;
}
.upcoming-events .card .card-body p {
  font-family: 'Montserrat';
  font-weight: normal;
}
.upcoming-events .card .card-footer .btn {
  width: 100%;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #fff;
}
.upcoming-events .card .card-footer .btn-red {
  background-color: #f54337;
}
.upcoming-events .card .card-footer .btn-red:hover {
  background-color: #a51309;
  transition: 0.5s ease-in;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee -moz-use-text-color #fff;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
