@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Light.woff2') format('woff2'), url('../assets/fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'), url('../assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'), url('../assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'), url('../assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 25px;
}
.main-red-menu {
  background-color: #f54337;
}
.main-red-menu .main-navigation {
  min-height: 4rem;
}
.main-red-menu .main-navigation ul .current_page_item a {
  color: #fff !important;
}
.main-red-menu .main-navigation ul .current_page_item a:hover {
  color: #fff;
}
.main-red-menu .main-navigation ul .page_item a {
  color: #a51309;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: normal;
  padding: 1rem;
  text-decoration: none;
}
.main-red-menu .main-navigation ul .page_item a:hover {
  transition: 0.2s ease-in;
  color: #fff;
}
.content-slider {
  margin-top: 2rem;
}
.content-slider .slider-slick-wrapper .slider-slick-img {
  width: 800px;
  height: 600px;
}
.content-slider .slider-slick-wrapper .slick-dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.content-slider .slider-slick-wrapper .slick-dots li {
  margin-right: 1rem;
}
.content-slider .slider-slick-wrapper .slick-dots li button {
  background: none;
  border-radius: 50%;
  border-color: #f54337;
  outline: none;
  font-size: 0;
  width: 20px;
  height: 20px;
}
.content-slider .slider-slick-wrapper .slick-dots li button:hover {
  border-color: #a51309;
  outline: none;
}
.content-slider .slider-slick-wrapper .slick-dots li button:before {
  content: '';
}
.content-slider .slider-slick-wrapper .slick-dots li button:after {
  content: '';
}
.content-slider .slider-slick-wrapper .slick-dots .slick-active button {
  background-color: #f54337;
}
