@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Light.woff2') format('woff2'), url('../assets/fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'), url('../assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'), url('../assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'), url('../assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('../assets/fonts/fontello.eot?72891410');
  src: url('../assets/fonts/fontello.eot?72891410#iefix') format('embedded-opentype'), url('../assets/fonts/fontello.woff2?72891410') format('woff2'), url('../assets/fonts/fontello.woff?72891410') format('woff'), url('../assets/fonts/fontello.ttf?72891410') format('truetype'), url('../assets/fonts/fontello.svg?72891410#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
 @media screen and (-webkit-min-device-pixel-ratio:0) {
 @font-face {
 font-family: 'fontello';
 src: url('../font/fontello.svg?72891410#fontello') format('svg');
 }
 }
 */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-users:before {
  content: '\e800';
}
/* '' */
.site-footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.site-footer .copyright-footer {
  color: #000;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
}
.content-slider {
  margin-top: 6rem;
}
.content-slider .slider-slick-wrapper .slider-slick-img {
  width: 1140px;
  height: 720px;
}
.content-slider .slider-slick-wrapper .slick-dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.content-slider .slider-slick-wrapper .slick-dots li {
  margin-top: 1rem;
  margin-right: 1rem;
}
.content-slider .slider-slick-wrapper .slick-dots li button {
  background: none;
  border-radius: 50%;
  border-color: #f54337;
  outline: none;
  font-size: 0;
  width: 20px;
  height: 20px;
}
.content-slider .slider-slick-wrapper .slick-dots li button:hover {
  border-color: #a51309;
  outline: none;
}
.content-slider .slider-slick-wrapper .slick-dots li button:before {
  content: '';
}
.content-slider .slider-slick-wrapper .slick-dots li button:after {
  content: '';
}
.content-slider .slider-slick-wrapper .slick-dots .slick-active button {
  background-color: #f54337;
}
.upcoming-events .link-title-block {
  outline: none;
  text-decoration: none;
  color: #000;
}
.upcoming-events .link-title-block .title-block {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 35px;
  color: #000;
  text-align: center;
  margin-top: 1rem;
}
.upcoming-events .link-title-block:hover {
  color: lightgrey;
  transition: 0.5s ease-in;
}
.upcoming-events .card .card-body .card-title {
  font-family: 'Montserrat';
  font-weight: 600;
  margin-top: 1rem;
}
.upcoming-events .card .card-body .card-text {
  font-family: 'Montserrat';
  font-weight: normal;
}
.upcoming-events .card .card-body p {
  font-family: 'Montserrat';
  font-weight: normal;
}
.upcoming-events .card .card-footer .btn {
  width: 100%;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #fff;
}
.upcoming-events .card .card-footer .btn-red {
  background-color: #f54337;
}
.upcoming-events .card .card-footer .btn-red:hover {
  background-color: #a51309;
  transition: 0.5s ease-in;
}
.members-events {
  background-color: #f54337;
  margin-top: 2rem;
}
.members-events .users-count-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.members-events .users-count-block .icon-users {
  text-align: center;
  font-size: 50px;
  color: #fff;
}
.members-events .users-count-block .members-count {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: #fff;
}
.members-events .members-count-text {
  display: block;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #a51309;
  margin-bottom: 2rem;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee -moz-use-text-color #fff;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
.main-red-menu {
  background-color: #f54337;
  position: fixed;
  z-index: 9999;
  min-height: 4rem;
}
.main-red-menu .menu-menu-1-container {
  min-height: 4rem;
  display: flex;
  align-items: center;
}
.main-red-menu .menu-menu-1-container .menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-bottom: 0;
}
.main-red-menu .menu-menu-1-container .menu .menu-item a {
  color: #a51309;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: normal;
  padding: 1rem;
  text-decoration: none;
}
.main-red-menu .menu-menu-1-container .menu .menu-item a:hover {
  transition: 0.2s ease-in;
  color: #fff;
}
.main-red-menu .menu-menu-1-container .menu .current_page_item a {
  color: #fff !important;
}
.main-red-menu .menu-menu-1-container .menu .current_page_item a:hover {
  color: #fff;
}
.main-red-menu #searchformheader {
  display: flex;
  align-items: center;
  width: 303px;
}
.main-red-menu #searchformheader .searchSubmitHeader {
  display: none;
}
.main-red-menu #searchformheader .searchTypeHeader {
  width: 100%;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #000;
  border-radius: 5px;
}
.main-red-menu #searchformheader ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-family: 'Montserrat';
  font-weight: normal;
  color: #000;
  opacity: 0.5;
}
.main-red-menu #searchformheader :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Montserrat';
  font-weight: normal;
  color: #000;
  opacity: 0.5;
}
.main-red-menu #searchformheader ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Montserrat';
  font-weight: normal;
  color: #000;
  opacity: 0.5;
}
.main-red-menu #searchformheader :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'Montserrat';
  font-weight: normal;
  color: #000;
  opacity: 0.5;
}
.main-red-menu #searchformheader ::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: 'Montserrat';
  font-weight: normal;
  color: #000;
  opacity: 0.5;
}
.main-red-menu #searchformheader ::placeholder {
  /* Most modern browsers support this now. */
  font-family: 'Montserrat';
  font-weight: normal;
  color: #000;
  opacity: 0.5;
}
.main-red-menu #searchformheader :focus::placeholder {
  transition: 0.7s ease-in;
  opacity: 0;
}
.upcoming-events-list {
  margin-top: 6rem;
}
.upcoming-events-list .title-block {
  margin-bottom: 2rem;
}
.upcoming-events-list .card .card-body .link-card-title {
  color: #000;
  text-decoration: none;
}
.upcoming-events-list .card .card-body .link-card-title .card-title {
  font-family: 'Montserrat';
  font-weight: 600;
  margin-top: 1rem;
}
.upcoming-events-list .card .card-body .link-card-title:hover {
  color: #f54337;
  transition: 0.3s ease-in;
}
.upcoming-events-list .card .card-body .link-card-title:active {
  color: #a51309;
}
.upcoming-events-list .card .card-body .card-text {
  font-family: 'Montserrat';
  font-weight: normal;
}
.upcoming-events-list .card .card-body p {
  font-family: 'Montserrat';
  font-weight: normal;
}
.upcoming-events-list .card .card-footer .card-text {
  font-family: 'Montserrat';
  font-weight: 300;
}
.upcoming-events-list .card .card-footer .card-text .event-start, .upcoming-events-list .card .card-footer .card-text .event-end {
  color: #f54337;
  font-style: italic;
}
