.import-excel-img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.import-excel-input {
  display: none !important;
}

.import-excel-input-view {
  color: $white;
}

.file-data {
  display: none;
  font-weight: bold;
  font-size: 18px;
  margin-top: 1rem;
}

.submit-excel {
  background-color: #016087 !important;
  color: $white !important;
}