.import-excel-img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.import-excel-input {
  display: none !important;
}

.import-excel-input-view {
  color: $white;
}

.file-data {
  display: none;
  font-weight: bold;
  font-size: 18px;
  margin-top: 1rem;
}

.submit-fill {
  background-color: #016087 !important;
  color: $white !important;
}

.user_qr_key_login {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  white-space: nowrap;
  box-sizing: border-box;
}